$global-direction:ltr !default;

//For RTL
$font-family-base: "Open Sans", Helvetica, Arial, sans-serif;
$font-family-headings: "Open Sans", Helvetica, Georgia, Times, serif;
$FontAwesome: "FontAwesome";