$global-direction: ltr !default;

//For RTL
$font-family-base: "Releway", Helvetica, Arial, sans-serif;
$font-family-headings: "Releway", Helvetica, Georgia, Times, serif;
$FontAwesome: "FontAwesome";