$global-direction: ltr !default;

//For RTL
$font-family-base: "Fjalla One", Helvetica, Arial, sans-serif;
$font-family-headings: "Open Sans", Helvetica, Georgia, Times, serif;
$FontAwesome: "FontAwesome";