@charset "UTF-8";
$info-color: #0288d1;
.dima-meta-content .dima-meta-field {
  position: relative;
  padding: 25px 0;
  overflow: hidden;
  border-bottom: 1px solid #e8f3f9;
}

.dima-meta-content .dima-meta-field:last-child {
  border-bottom: 0;
}

.dima-meta-data {
  width: 50%;
  @include float_end();
}

.dima-meta-desc strong {
  display: block;
  margin: 4px 0 0;
  font-weight: 700;
}

.dima-meta-desc span {
  display: block;
  margin: 6px 0 1px 0;
  line-height: 1.5;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.wp-admin select {
  height: auto;
}

.dima_upload_button_container {
  display: table-cell;
  width: 95px;
}

.dima-table-cell {
  display: table;
  width: 100%;
}

input.dima-meta-button {
  margin: 0;
  @include margin-start(5px);
  height: 41px;
  width: 90px;
  background: none repeat scroll 0 0 #0277BD;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

.form-field .wp-picker-default {
  width: auto;
}

.dima-shortcodes-arrow {
  font-family: 'FontAwesome';
  position: absolute;
  color: #0277bd;
  top: 36px;
  @include end(10px);
  pointer-events: none;
  z-index: 10;
  text-align: center;
  line-height: 32px;
}

#post_images_container ul li.image {
  width: 80px;
  @include float_start();
  cursor: move;
  border: 1px solid #d5d5d5;
  margin: 9px 9px 0 0;
  background: #f7f7f7;
  border-radius: 2px;
  position: relative;
  box-sizing: border-box;
}

#post_images_container ul li.image img {
  width: 100%;
  height: auto;
  display: block;
}

#dima-post-images .inside #post_images_container ul ul.actions {
  position: absolute;
  top: -8px;
  @include end(-8px);
  padding: 2px;
  display: none;
}

#dima-post-images .inside #post_images_container ul ul.actions li {
  @include float_end();
  margin: 0;
  @include margin-start(2px);
}

#dima-post-images .inside #post_images_container ul li:hover ul.actions {
  display: block;
}

#dima-post-images .inside #post_images_container ul ul.actions li a.delete {
  display: block;
  text-indent: -9999px;
  position: relative;
  height: 1em;
  width: 1em;
  font-size: 1.4em;
}

#dima-post-images .inside #post_images_container ul ul.actions li a.delete:before {
  margin: 0;
  text-indent: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: "\a139";
  border-radius: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#dima-post-images .inside #post_images_container ul ul.actions li a.delete:before,
#dima-post-images .inside #post_images_container ul ul.actions li a.view:before {
  content: 'X';
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  font-size: 8px;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  background-color: #FF5733;
  border: 2px solid #FFF;
  text-align: center;
  @include start(-1px);
}

#dima-post-images .inside #post_images_container ul li.dima-metabox-sortable-placeholder {
  width: 80px;
  @include float_start();
  cursor: move;
  border: 3px dashed #d5d5d5;
  margin: 0;
  @include margin-end(9px);
  background: #f7f7f7;
  border-radius: 2px;
  position: relative;
  box-sizing: border-box;
}

#dima-post-images .inside {
  margin: 0;
  padding: 0;
}

#dima-post-images .inside #post_images_container {
  padding: 0;
  @include padding-start(9px);
}

#dima-post-images .inside .add_post_images {
  padding: 0 12px 12px;
}

#dima-post-images .inside #post_images_container ul:after,
#dima-post-images .inside #post_images_container ul:before {
  content: " ";
  display: table;
}

#dima-post-images .inside #post_images_container ul:after {
  clear: both;
}

//DIMA METABOX*/
#dima-meta-box-video h2.hndle,
#dima-meta-box-audio h2.hndle,
#dima-meta-box-link h2.hndle,
#dima-meta-box-quote h2.hndle,
#dima-meta-box-slider-below h2.hndle,
#dima-meta-box-post h2.hndle,
#dima-meta-box-gallery h2.hndle,
#dima-meta-box-page h2.hndle {
  background: $info-color;
  color: #FFFFFF;
  padding: 20px;
  @include padding-end(0);
  @include padding-start(30px);
  font-size: 18px;
  font-weight: 300;
}

#dima-meta-box-audio button,
#dima-meta-box-video button,
#dima-meta-box-link button,
#dima-meta-box-quote button,
#dima-meta-box-gallery button,
#dima-meta-box-slider-below button,
#dima-meta-box-post button,
#dima-meta-box-page button {
  outline: 0;
}

#dima-meta-box-audio .inside,
#dima-meta-box-video .inside,
#dima-meta-box-link .inside,
#dima-meta-box-quote .inside,
#dima-meta-box-slider-below .inside,
#dima-meta-box-gallery .inside,
#dima-meta-box-post .inside,
#dima-meta-box-page .inside {
  padding: 0 70px 30px;
}

#dima-meta-box-audio .toggle-indicator:before,
#dima-meta-box-video .toggle-indicator:before,
#dima-meta-box-link .toggle-indicator:before,
#dima-meta-box-quote .toggle-indicator:before,
#dima-meta-box-gallery .toggle-indicator:before,
#dima-meta-box-slider-below .toggle-indicator:before,
#dima-meta-box-post .toggle-indicator:before,
#dima-meta-box-page .toggle-indicator:before {
  content: "\f460";
  color: #fff;
  width: 65px;
  height: 65px;
  background: #0277bd;
  border-radius: 0;
  margin-top: 0;
  line-height: 65px;
}

#dima-meta-box-audio.closed .toggle-indicator:before,
#dima-meta-box-video.closed .toggle-indicator:before,
#dima-meta-box-quote.closed .toggle-indicator:before,
#dima-meta-box-link.closed .toggle-indicator:before,
#dima-meta-box-gallery.closed .toggle-indicator:before,
#dima-meta-box-slider-below.closed .toggle-indicator:before,
#dima-meta-box-post.closed .toggle-indicator:before,
#dima-meta-box-page.closed .toggle-indicator:before {
  content: "\f132";
}

#dima-meta-box-audio .handlediv,
#dima-meta-box-video .handlediv,
#dima-meta-box-quote .handlediv,
#dima-meta-box-link .handlediv,
#dima-meta-box-gallery .handlediv,
#dima-meta-box-slider-below .handlediv,
#dima-meta-box-post .handlediv,
#dima-meta-box-page .handlediv {
  width: 65px;
  height: 65px;
}

//filde*/
.dima-meta-field {
  color: #0277bd;
}

.dima-global-desc,
.dima-meta-field span {
  color: #0277bd;
  opacity: 0.7;
}

.dima-global-desc {
  color: #0277bd;
  opacity: 0.7;
  border-bottom: 1px solid #e8f3f9;
  padding: 30px 0 40px 0;
}

.dima-global-desc:before {
  position: relative;
  content: "\f348";
  font-family: "dashicons";
  font-size: 25px;
  @include padding-end(10px);
  color: #0277BD;
  top: 7px;
}

.dima-meta-desc {
  width: 45%;
  @include float_start();
}

.dima-meta-data .wp-admin select,
.dima-meta-data input[type="search"],
.dima-meta-data textarea,
.dima-meta-data select, .dima-meta-data
input[type="text"],
.dima-meta-data input[type="email"],
.dima-meta-data input[type="date"],
.dima-meta-data input[type="password"],
.dima-meta-data input[type="number"],
.dima-meta-data input[type="url"],
.dima-meta-data input[type="tel"] {
  border-radius: 5px;
  border: 2px solid #e1eff7;
  width: 100%;
  box-shadow: none;
  margin: 0;
  padding: 10px;
  line-height: 16px;
  background-color: transparent;
  outline: none;
  color: #3375ff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dima-meta-data select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#dima-meta-box-page input[type=checkbox], input[type=radio] {
  border: 1px solid #028CD3;
}