@charset "UTF-8";
/*------------------------------------------------------------------
[Woocommerce Business Stylesheet]

Project:	 PixelDIma OKAB
Version:	 1.0
Primary use: For Business Demo
Style:       Light
Direction :  LTR
-------------------------------------------------------------------*/
@import "../../extensions/modular-scale";
@import "../../base/demo/restaurant/all_ltr";
@import "../../base/all";

@import "../../shop/all";