.widget .button, [type="submit"], .dima-button {
  font-size: 14px;
}

.dima-navbar-wrap.desk-nav .dima-navbar nav .dima-nav > li > a,
.dima-navbar-wrap.desk-nav .dima-navbar nav .dima-nav-end > li > a {
  padding: 0 25px 0 25px;
}

[type="submit"],
.dima-button {
  border-radius: 6px;
}