.dima-iconbox {
  h5.features-title {
    font-size: 22px;
    line-height: 1.4em;
  }
}

.countUp {
  .number {
    font-weight: 400;
  }
}

[type="submit"],
.dima-button {
  border-radius: 6px;
}

.dima-navbar-wrap.desk-nav .dima-navbar-transparent.dima-navbar {
  box-shadow: none;
}