.widget .button, [type="submit"], .dima-button {
  font-family: $font-family-base;
}

.dima-btn-large, .dima-btn-big, .dima-btn-huge {
  font-size: 16px;
}

.widget .button, [type="submit"], .dima-button {
  font-size: 14px;
}

.h-callout {
  font-size: 48px;
}