@charset "UTF-8";
/*------------------------------------------------------------------
[bbpress Plugin Stylesheet]

Project:	 PixelDIma OKAB
Version:	 1.0
Primary use: For OKAB Demo
Style:       Light
Direction :  LTR
-------------------------------------------------------------------*/

@import "../../extensions/modular-scale";
@import "../../base/demo/photography/all_ltr";
@import "../../base/all";

@import "../../bbpress/all";