@charset "UTF-8";
/*------------------------------------------------------------------
[Woocommerce okab Stylesheet]

Project:	 PixelDIma OKAB
Version:	 1.0
Primary use: For OKAB Demo
Style:       Dark
Direction :  RTL
-------------------------------------------------------------------*/
@import "../../extensions/modular-scale";
@import "../../base/demo/okab/all_dark_rtl";
@import "../../base/all";

@import "../../shop/all";