.post-content {
  ul, ol {
    @if ($global-direction == "rtl") {
      margin: 25px 0 0 0;
    } @else {
      margin: 0 0 0 25px;
    }
  }
  ul {
    list-style: initial;
  }
  ul.posts-list {
    margin: 0;
    list-style: none;
  }
}

.boxed-blog {
  &.blog-list {
    &.vertical-posts-list {
      background: $blog-bg-color;
      .posts-list {
        overflow: hidden;
        padding: 25px;
        border: 1px solid $blog-border-color;
        border-top: none;
      }
      article {
        margin-bottom: 0;
      }
    }
    &.grid-posts-list {
      background: $blog-bg-color;
      position: relative;
      border: 1px solid $blog-border-color;
      .main-post {
        border-bottom: 1px solid $blog-border-color;
      }
      .main-post, .posts-list {
        padding: 25px;
      }
      .posts-list {
        padding-bottom: 0;
      }
      .with-two-clm {
        > li {
          width: 48%;
          overflow: hidden;
          @include padding-end(0);
          @include float-start;
          &:nth-child(2n+1) {
            @include margin-end(3.4%);
          }
        }
      }
      article {
        margin-bottom: 0;
      }
    }
    &.horizontal-posts-list {
      background: $blog-bg-color;
      position: relative;
      border: 1px solid $blog-border-color;
      .main-post, .posts-list {
        padding: 25px;
      }

      article {
        margin-bottom: 0;
        &.e-post {
          border: none;
          padding: 0 !important;
        }
      }
      .split {
        height: 100%;
        @include border-end(1px solid $blog-border-color);
        position: absolute;
        @include end(50%);
      }
    }
    .posts-list {
      article {
        width: 100%;
        @include float-start;
        margin-bottom: 0;
      }
      > li {
        width: 100%;
        margin: 0;
        @include float-start;
        padding-bottom: 30px;
        box-sizing: border-box;
        &:last-child {
          padding-bottom: 0;
        }
      }
      .post-meta {
        border: none;
        padding: 0;
        ul {
          line-height: 16px;
          @include text-align-start;
          overflow: hidden;
          li {
            @include float_start;
            @include padding-end(10px);
            padding-bottom: 2px;
          }
        }
      }
      .post-img {
        display: block;
        background: $theme-color;
        width: 60px;
        height: 60px;
        margin: 0;
        @include margin-end(20px);
        @include float_start();
        overflow: hidden;
        vertical-align: top;
        &:before {
          font-family: 'FontAwesome';
          position: absolute !important;
          z-index: 100;
          color: #fff;
          left: 50%; //must be left
          top: 50%;
          font-size: 24px;
          line-height: 25px;
          margin-top: -12px;
          transform: translateX(-50%);
        }
        &.post-standard {
          &:before {
            content: "\f036";
          }
        }
        &.post-chat {
          &:before {
            content: "\f0e5";
          }
        }
        &.post-audio {
          &:before {
            content: "\f028";
          }
        }
        &.post-quote {
          &:before {
            content: "\f10d";
          }
        }
        &.post-link {
          &:before {
            content: "\f0c1";
          }
        }
        &.post-video {
          &:before {
            content: "\f04b";
          }
        }
        &.post-gallery {
          &:before {
            content: "\f07e";
          }
        }
      }
      .posts-list-content {
        padding-top: 5px;
      }
    }
  }
  &.blog-list {
    .post, article {
      margin-bottom: 30px;
      &.isotope-item {
        margin-bottom: 0;
      }
    }
  }
  article, .post {
    &.e-post {
      padding: 20px !important;
      background: $blog-bg-color;
      border: 1px solid $blog-border-color;
      //@include box-shadow(0px 0 0 1px $blog-border-color);
      @if $border-radius != 0 {
        @include border-radius($border-radius);
      }
      .box {
        margin-bottom: 0;
        border: 0;
      }
      .post-meta {
        border-bottom: 1px solid $border-color;
        padding: 20px 0 20px 0;
      }
      .post-content {
        padding: 25px 0 5px 0;
      }
    }
    .post-img {
      overflow: hidden;
      position: relative;
      height: auto;
      width: auto;
      img {
        display: block;
        overflow: hidden;
        width: 100%;
      }
    }
    .post-meta {

      padding: 20px 25px;
      @include font-size(14, 14);
      background: $blog-bg-color;
      border-bottom: none;
      margin-bottom: 0;
      a {
        color: $blog-text-color;
        &:hover {
          color: $theme-color;
        }
      }
      ul {
        @include text_align_end();
        margin: 0;
        li {
          @include padding-end(10px);
          &:last-child {
            @include padding-end(0);
          }

          display: inline-block;
          &.post-comments {
            @include text_align_start;
          }
          &.post-on {
            @include float_start();
            text-transform: capitalize;
          }
        }
      }
    }
    .post-content {
      position: relative;
      padding: 25px;
      background: $blog-bg-color;
      overflow: hidden;

      .single-post-title {
        @extend h3;
      }

      &.custom-post {
        padding: 0;
        .single-post-title {
          display: none;
        }
        .social-media {
          padding: 25px;
        }
      }
    }
    //Post Type
    .pad {
      padding: 20px;
      border: 1px solid $border-color;
      border-bottom: none;
      background: $quote-bg;
    }
    &.image-in-side {
      width: 100%;
      @include float_start;
      .post-img {
        @include float_start;
        //width: 350px;
        width: 48%;
        @include margin-end(3.4%);
        z-index: 99;
      }
      .post-meta {
        border: none;
        border-bottom: 1px solid $border-color;
        overflow: hidden;
        padding: 0 0 20px 0;
      }
      .post-content {
        border: none;
        padding: 20px 0 0 0;
      }
      .mejs-container .mejs-controls {
        margin-bottom: 0;
      }
    }
  }
  .sda-post {
    position: relative;
    img {
      margin-bottom: 1px;
    }
  }

  .no-box {
    padding: 0 !important;
    border: none !important;
  }

}

.related-posts {
  margin-bottom: 30px;
  padding-bottom: 0;
  &.related-posts-slide {
    padding-bottom: 25px;
    .related-post {
      margin-bottom: 0;
    }
  }
  .related-posts-title {
    margin-bottom: 30px;
  }
  .related-entry {
    @include box-sizing(box-sizing);

    .related-entry-title {
      h6 {
        @include font-size(14, 20);
      }
    }
    &:hover {
      .related-entry-title {
        h6 {
          color: $theme-color;
        }
      }
    }
  }
}

.related-post {
  margin-bottom: 30px;
}

.related-entry-media {
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  .related-entry-thumbnail {
    img {
      width: 100%;
      height: auto;
    }
  }
}

// codrops

.vertical-menu-end {
  .nav-reveal {
    a {
      &.prev {
        @include start(0);
      }
      &.next {
        @include end(0);
        @include margin-end($navbar-vertical-w + px);

      }
    }
  }
}

.vertical-menu-start {
  .nav-reveal {
    a {
      &.prev {
        @include start(0);
        @include margin-start($navbar-vertical-w + px);
      }
      &.next {
        @include end(0);
      }
    }
  }
}

.nav-reveal {
  a {
    position: fixed;
    margin-top: 60px;
    display: block;
    outline: none;
    @include text_align_start();
    z-index: 1000;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    &.prev {
      @include start(0);
    }
    &.next {
      @include end(0);
    }
  }
}

.nav-reveal a {
  overflow: hidden;
  width: 40px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: width 0.4s, background-color 0.4s;
  transition: width 0.4s, background-color 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.nav-reveal .icon-wrap {
  position: absolute;
  z-index: 100;
  top: 50px;
  width: 40px;
  i {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 22px;
    height: 22px;
    text-align: center;
  }
}

.nav-reveal i {
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  color: #fff;
  font-size: 22px;
  line-height: 22px;
}

.nav-reveal a.prev .icon-wrap {
  @include start(0);
}

.nav-reveal a.next .icon-wrap {
  @include end(0);
}

.nav-reveal svg.icon {
  fill: #af7ac4;
}

.nav-reveal div {
  position: absolute;
  top: 0;
  padding: 0 50px;
  width: 400px;
  height: 100%;
  .dima-post-format {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    background: #30302c;
    i {
      font-size: 25px;
      line-height: 100px;
      width: 100px;
      height: 100px;
      text-align: center;
    }
  }
}

.nav-reveal a.prev {
  div {
    @include start(0);
    @include padding-end(130px);
    @include text-align-end;
    .dima-post-format {
      @include end(10px);
    }
  }
}

.nav-reveal a.next {
  div {
    @include end(0);
    @include padding-start(130px);
    .dima-post-format {
      @include start(10px);
    }
  }
}

.nav-reveal h3 {
  position: relative;
  margin: 0;
  padding: 20px 0;
  color: #fff;
  font-weight: $font-weight-light;
  font-size: 20px;
  line-height: 1.2;
}

.nav-reveal div h3 span {
  display: block;
  padding-top: 10px;
  color: #542568;
  letter-spacing: 1px;
  font-weight: $h-weight;
  font-size: 50%;
}

.nav-reveal img {
  position: absolute;
  top: 10px;
  height: 100px;
  width: 100px;
}

.nav-reveal a.prev img {
  @include end(10px);
}

.nav-reveal a.next img {
  @include start(10px);
}

.nav-reveal a:hover {
  width: 400px;
  background-color: #1c1c1a;
}

//wordpress*/
//frame*/
.dima-video {
  .dima-video-wrapper {
    embed, iframe, video {
      position: absolute;
      top: 0;
      @include start(0);
      width: 100%;
      height: 100%;
    }
  }
}

.dima-video-wrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  &.dima-self-hosted {
    height: auto;
  }
}

/*Fo selv hosted video*/

.single-post {

  /*.post-img {
    .entry-thumb {
      margin-bottom: -50px;
    }
  }*/
  .post-audio {
    .mejs-container {
      height: 48px !important;
    }
  }

  .post-audio,
  .post-img {
    .mejs-container .mejs-controls {
      margin-bottom: -1px;
    }
  }
}

.post-audio {
  .mejs-container {
    height: 48px !important;
  }
}

.image-in-side {
  .post-audio {
    .mejs-container {
      height: 49px !important;
    }
  }

}

.dima-link {
  background-color: $theme-color;
  @include border-start(none);
  font-style: italic;
  position: relative;
  text-align: center;
  display: block;
  padding: 60px 35px;
  .entry-title, a {
    position: relative;
    color: #FFFFFF;
    z-index: 10;
    &:hover {
      color: #FFFFFF;
    }
  }
}

.video-overlay {
  position: absolute;
  top: 0;
  @include end(0);
  bottom: 0;
  @include start(0);
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  z-index: 10;
  .video-overlay-hover {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    transition: all 0.5s ease-in-out;
    &:hover {
      background: rgba(0, 0, 0, 0.6);
    }
  }
  .video-play-button {
    display: block;
    position: absolute !important;
    z-index: 100;
    color: #fff;
    left: 50%; //must be left
    top: 50%;
    font-size: 4rem;
    line-height: 4rem;
    height: 4rem;
    margin-top: -2rem;
    transform: translateX(-50%);
    &:before {
      font-family: 'FontAwesome';
      content: "\f144";
    }
  }
}

///
// New post
//
.news-in-pic {
  padding-bottom: 10px;
  ul {
    overflow: hidden;
    margin: 0;
    @include margin-end(-5.8%);
    list-style: none;
  }
  .post-img {
    position: relative;
    img {
      width: 100%;
    }
  }
  .main-news-pic {
    width: 50%;
    clear: none;
    @include float-start;
    @include padding-end(2.3%);
    margin-bottom: 2%;
    border: none;
  }

  li.news-pic {
    border: none;
    width: 13.2%;
    @include margin-end(2.39%);
    margin-bottom: 2.5%;
    clear: none;
    @include float-start;
  }
}

article {
  position: relative;
  &.sticky {
    .post-meta {
      background: #F7F7F7 !important;
    }
  }
}

.post-content > *:last-child {
  margin-bottom: 0;
}

.post-content {
  p {
    margin-bottom: 20px;
  }

  blockquote, ul li {
    p {
      margin-bottom: 0;
    }
  }
}

.boxed .post {
  .container {
    width: 100%;
  }
}

.product-img,
article {
  &:hover {
    .dima-admin-edit {
      display: block;
    }
  }
}

.dima-admin-edit {
  position: absolute;
  // @include start(6px);
  // top: 6px;
  display: none;
  z-index: 9999;
  background-color: rgba($footer-bg-top, 0.4);
  color: #fff !important;
  padding: 3px 10px;
  font-size: 14px;
  &:hover {
    background: $footer-bg-top;
  }
}

//*Custem Post add padding*//
body:not(.single-post) {
  .boxed-blog article .post-content.custom-post,
  .boxed-blog .post .post-content.custom-post {
    padding: 25px;
  }
}

//AddTo Any*/
.a2a_svg {
  border-radius: 0 !important;
}

.post-share {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid $border-color;
}

@include break(sd-max) {
  .nav-reveal a {
    display: none;
  }
}